.container-phone-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F2F2F2;
}



.enddsection {
    display: flex;
    width: 80%;
    flex-direction: column;
    background: #F2F2F2;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}

.footcopy {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
}

.footright {
    display: flex;
    gap: 20px;
}

.terms {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: right;
    color: #391400;
}

@media screen and (max-width:768px) {

    .sofendsection2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        gap: 5px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}